# dependencies
node_modules

# environment variables
.env
.env.local
.env.*.local

# build outputs
renderer/dist
dist
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store
